<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowSplashScreen" value="true"/>
    <add key="NumberOfRecipePerPage"  value="4"/>
    <add key="DisplayOption" value ="Order by name A-Z"></add>
    <add key="DisplayOptionFavPage" value ="Order by name A-Z"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>